.SliderCSS{
    width: 80%;
}


.myDropdown{
    display: flex;
    border-style: groove;
    border-color: rgb(244, 233, 255);
    margin-top: 10px;
}

.pages {
    /* background: red; */
    display: flex;
    height: auto;
    flex-direction: row;
    flex-flow: wrap;
    font-size: 18px;
  }
  .page {
    display: flex;
    /* background: blue; */
    align-items: center;
    box-sizing: border-box;
    margin-right: 30px;
    border-color: #000000;
  }

  .myContainer {
    box-shadow: 0px 13px 24px 0px rgba(238, 208, 241, 0.08);
    color: #000000;
    font-size: 18px;
 
  }

 .myButton{
    color: black;
    background-color: white;
    border-color: white;
    font-size: 18px;
    font-weight: 15px;
 }

