.table .cellWrapper {
  display: flex;
  align-items: center;
}

.table .cellWrapper .image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.table .productStatus {
  padding: 5px;
  border-radius: 5px;
  color: aqua;
}

/* .table .productStatus.Approved {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}
.table .productStatus.Pending {
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
} */
