.datatable {
    height: 600px;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.datatable .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: rgb(97, 97, 97);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.datatable .datatableTitle .link {
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.table .cellWrapper {
    display: flex;
    align-items: center;
}


.datatable .cellAction {
    display: flex;
    align-items: center;
   
    justify-content: center;
    gap: 5px;
}
.datatable .cellAction .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
    size: 10px;
}
.datatable .cellAction .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: white;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
    font-size: 14px;
}