/* overwire boostrap */
/* start navbar */
/* Nav1 */
/* .navbar-header{
    
    height: 50px;
    border-bottom: 0.5px solid rgba(112,112,112,0.1);
    display: flex;
    align-items: center;
    font-size: 15px;
   
} */

    .logo {
        width: 250px;
        height: 35px;
        border-radius: none;
        margin-right: 100px;
        margin-left: 10px;
      }
    /* .me-auto {
      width: 100%;
      
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
.items {
    display: flex;
    align-items: center;
    
}
    
    
      .icon {
        display: flex;
        font-size: 20px;
        margin-right: 5px;
      }
      .items:hover{
        color: tomato;
    } */
    .navbar-nav{
      height: 100px;
    /* border-bottom: 0.5px solid rgba(112,112,112,0.1); */
    display: flex;
    align-items: center;
    font-size: 15px;
    
    }
    .item{
      display: flex;
      align-items: center;
      
      position: relative;
    }
    .item-bottom{
      display: flex;
      align-items: center;
      
      position: relative;
    }
    .icon {
        display: flex;
        font-size: 20px;
        margin-right: 5px;
      }
    .nav-item{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    nav{
        top:0;
        box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.08);
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: #000000;
        
    }
    nav .navbar-collapse.collapse{
        display: block;
    }
    @media (max-width: 991px){
        nav .navbar-collapse.collapse{
            overflow: hidden;
        }
        nav .navbar-collapse.active{
            height: 100vh !important;
        }
    }
    nav .navbar-collapse{
        transition: .6s all ease-in-out;
        height: 0 !important;
    }
.ms-auto {
  width: 100%;
  
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-link:hover{
  color: tomato;
}
    
/* Nav2 */












   
      /* end navbar */

      /* start footer */

    .main-footer{
      border-top: 0.5px solid rgba(112,112,112,0.1);
      font-size: 15px;
    }
    .row{
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .col-md-3{
      
      
     
    }

    .col-md-3 h4{
      font-size: 18px;
    }
    .logo-footer{
      width: 333px;
        height: 46px;
      margin-top: 30px;
      margin-bottom: 50px;
      
      /* margin-left: 300px; */
    }

    .footer-bottom{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .img{
      margin-left: 15px;
      margin-top: 10px;
    }
    
    .socialMedia{
      width: 25px;
      height: 20px;
      margin-right: 20px;
    }

    .text-xs-center{
      
      margin-top: 30px;
      text-align: center;
    }

    



    


    

    